<%= render partial: 'products/nav' %>
<div class="text-center">
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="container text-end mt-4">
  <%= link_to "Products", products_path, class: "btn btn-primary" %>
</div>


<div class="container text-center mt-4">

  <h1>Pages#home</h1>
  <p class="text-center">Find me in app/views/pages/home.html.erb</p>

  

  <% if current_user %>
    <div>
      <h2>Welcome, <%= current_user.email %></h2>
      <% if current_user.role == 'vendor' %>
        <p>You are logged in as a vendor.</p>
      <% else %>
        <p>You are logged in as a regular user.</p>
      <% end %>
    </div>
  <% end %>

  <% unless current_user.nil? %>
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% User.where.not(id: current_user.id).each do |user| %>
          <tr>
            <td><%= user.email %></td>
                <td>
                  <% if current_user.following?(user) %>
                    <%= button_to "Unfollow", unfollow_user_path(user) %>
                  <% else %>
                    <%= button_to "Follow", follow_user_path(user) %>
                  <% end %>
                </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
