<%= render 'products/nav' %>

<h1 style="text-align:center;margin-top:15px">Cart</h1>

<% if @cart.cart_items.present? %>
  <div class="row">
    <% total_price = 0 %>
    <% @cart.cart_items.each do |cart_item| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div id="carouselExampleSlidesOnly<%= cart_item.id %>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% cart_item.product.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <%= link_to product_path(cart_item.product) do %>
                    <%= image_tag image, class: "d-block w-100", style: "height: 350px;" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleSlidesOnly<%= cart_item.id %>" type="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleSlidesOnly<%= cart_item.id %>" type="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= cart_item.product.name %></h5>
            <p class="card-text"><%= cart_item.product.description %></p>
            <div class="input-group mb-3">
              <%= form_with(url: cart_cart_item_path(cart_item), method: :patch) do |form| %>
                <%= form.number_field :quantity, value: cart_item.quantity, class: "form-control mr-2" %>
                <div class="input-group-append">
                  <%= form.submit "Update", class: "btn btn-outline-secondary mt-2" %>
                </div>
              <% end %>
            </div>
            <p class="card-text">Price: <%= number_to_currency(cart_item.product.price) %> for each</p>
            <p class="card-text">Price: <%= number_to_currency(cart_item.product.price * cart_item.quantity) %></p>
            <% total_price += cart_item.product.price * cart_item.quantity %>
            <%= button_to 'Remove', cart_cart_item_path(cart_item), method: :delete, data: { turbo: "false" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h5>Total Price: <%= number_to_currency(total_price) %></h5>
    </div>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    Your cart is empty.
  </div>
<% end %>
